:root{
    --primary--color:#ff9854;
    /* 全局修改变量 */
    /* --van-tabbar-item-icon-size:30px; */

    /* 修改search图标颜色 */
    --van-search-left-icon-color:var(--primary--color) !important;
    
    /* 搜索按钮颜色 */
      --tjc-theme-linear-gradient:linear-gradient(90deg, #fa8c1d, #fcaf3f);
    /* navbar主题颜色 */
      --van-primary-color:var(--primary--color);
      --van-nav-bar-title-text-color:var(--primary--color) !important;
}

body{
    font-size: 14px;
}

/* 利用css跳转到city时隐藏tabbar */
.top-page{
    position: relative;
    height: 100vh;
    z-index: 9;
    background-color: #fff;
    overflow-y: auto;
}
.bottom-gray-line{
    border-bottom: 1px solid #f3f3f3;
}

.icon_check {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../img/detail/icon_check.png) 0 0 / 100% 100%;
  }